<div class="col-xs-12">
    <p>Add new Servers or blueprints!</p>
    <label>Server Name</label>
    <!--placing local reference here. It can be placed on any html elements.It can be passed to typescript via function parameters.-->
    <input type="text" class="form-control" #serverNameInput>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerName">-->
    <label>Server Content</label>
    <!--<input type="text" class="form-control" [(ngModel)]="newServerContent">-->

    <input type="text" class="form-control" #serverContentInput>



    <br>
    <button class="btn btn-primary" (click)="onAddServer(serverNameInput)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(serverNameInput)">Add Server Blueprint</button>
</div>