<!--example of custom property binding-->

<!--<div class="panel panel-default">
    <div class="panel-heading">{{ element.name }}</div>
    <div class="panel-body">
        <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
        </p>
    </div>
</div>-->

<!--ng-content way-->


<div class="panel panel-default">
    <div class="panel-heading" #heading>{{ name }}</div>
    <div class="panel-body">
        <ng-content></ng-content>
    </div>
</div>