<!--This file can be further segregated to components-->

<div class="container">
    <div class="row">
        <!-- custom event binding-->
        <app-cockpit (serverCreated)="onServerAdded($event)" (bluePrintAdded)="onAddBlueprintAdded($event)"></app-cockpit>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12">

            <button type="button" class="btn btn-default" (click)="onChangeFirst()">change the text</button>

            <button type="button" class="btn btn-danger" (click)="onDestroyFirst()">delete first node</button>

            <!--custom property binding to the exposed "srvElement" -->
            <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" [name]="serverElement.name">
                <p #contentParagraph>
                    <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
                    <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
                </p>
            </app-server-element>
        </div>
    </div>
</div>