<div class="container">
    <hr>
    <div class="row">
        <div class="col-xs-12 clearfix">
            <figure>
                <img src="../../assets/images/question-cmp-bind.png" alt="question-cmp-binding">
            </figure>
        </div>

        <div class="col-xs-12 clearfix">
            <app-game-control (counterIncrementFired)="OnCounterIncrementFired($event)"></app-game-control>
        </div>
        <div class="col-xs-12 clearfix">
            <app-even *ngFor="let evenNumber of evenArray" [number]="evenNumber"></app-even>
        </div>
        <div class="col-xs-12 clearfix">
            <app-odd *ngFor="let oddNumber of oddArray" [number]="oddNumber"></app-odd>
        </div>
    </div>
</div>




<!--try 1-->
<!--<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p *ngIf="oddCheck" style="color:green;">{{counterValue}}</p>
            <p *ngIf="evenCheck" style="color:blue;">{{counterValue}}</p>
        </div>
    </div>
</div>-->

<!--try 2-->
<!--<app-even *ngIf="value%2===0" [inputEvenNumber]="value"></app-even>
      <app-odd *ngIf="value%2!==0" [inputOddNumber]="value"></app-odd>-->